@model Project_Management_System.Models.Project_Details

@{
    ViewBag.Title = "AddProjectDetails";
}


<div class="panel panel-primary setup-content">
    <h3 class="text-center subheader"><strong>Project Stakeholders</strong></h3>
    <div class="panel-body ">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                <div class="form-group">
                    @Html.Label("Scope (250 words)", htmlAttributes: new { @class = " col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.P_Scope, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.P_Scope, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Description", htmlAttributes: new { @class = " col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.P_Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.P_Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Objective", htmlAttributes: new { @class = " col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.P_Objective, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.P_Objective, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Goals", htmlAttributes: new { @class = " col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.P_Goals, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.P_Goals, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Oppotunities", htmlAttributes: new { @class = " col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.P_Oppotunities, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.P_Oppotunities, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Start Date", htmlAttributes: new { @class = " col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.P_StartDate, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.P_StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("End Date", htmlAttributes: new { @class = " col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.P_EndDate, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.P_EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Duration", htmlAttributes: new { @class = " col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.P_Duration, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.P_Duration, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>

        
   
        }

        <div>
        </div>
        </div>
    </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
