@model IEnumerable<Project_Management_System.Models.Project_Team>

@{
    ViewBag.Title = "Project_Team_List";
}


<p>
    @Html.ActionLink("Add Team Members", "Add_Project_Members", new { id = ViewBag.projectID }, new { @class = " btn btn-success" })
</p>
<div class="panel  setup-content">
    <h3 class="text-center subheader"><strong>Project Team</strong></h3>
    <div class="panel-body ">
        <table class="table">

            <tr>
                <th>
                    @Html.DisplayName("ID")
                </th>
                <th>
                    @Html.DisplayName("Email")
                </th>
                <th>
                    @Html.DisplayName("Role")
                </th>
                <th>
                    @Html.DisplayName("Responsebility")
                </th>
                
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.T_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.T_Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.T_Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.T_Responsebility)
                    </td>
                    
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>
        @Html.ActionLink("Next", "Stakeholders_List", new { id = ViewBag.projectID }, new { @class = "btn btn-success" })
    </div>
    </div>
